{% extends "layout.html" %}

{% block title %}
    healthlocation: Register
{% endblock %}

{% block main %}
   <form action=/programs/register method=post>
     <div class=form-group>
       <input autocomplete=off class=form-control autofocus name=username placeholder=Username>
     </div>
     <div class=form-group>
       <input autocomplete=off class=form-control autofocus name=password placeholder=Password>
     </div>
     <div class="form-group">
       <input autocomplete=off class=form-control autofocus name=passwordConfirm placeholder="Repeat Password">
     </div>
     <button class="btn btn-primary" type=submit>Register</button>
    </form>
  {% endblock %}
